*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
  }

  :root {
    --backgroundColor: #DAD7CD;
    --textPrimary: #222222;
    --textSecondary: #DAD7CD;
    --primaryColor: #A3B18A;
    --secondaryColor: #344E41;
    --filter: #9EF01A;
    --plusSign: #383ED7;
    --placeholderTask: #588157;
    --date: #8D8D8D;
  }

  body{
    background-color: var(--backgroundColor);
  }

  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 2.4rem;
  }
  p, span{
    font-size: 2rem;
  }

  ul li{
    list-style: none;
  }

  #icons-sidebar::after{
    content: '';
    width: 90%;
    border-bottom: 4px solid var(--textPrimary);
    margin-top: 1rem;
    border-radius: 50px;
}

  #side-bar{
    position: fixed;
    top: 0px;
    left: 0;
    width: 25vw;
    background-color: var(--primaryColor);
    height: 100vh;
    color: var(--textPrimary);
    border-right: 5px solid rgba(52, 78, 65, 1);
    transition: all 300ms ease-in-out;
  }
  #container{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}

  #header-sidebar{
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-bottom: 4rem;
    gap: 1rem;
  }
  #header-sidebar img{
    width: 7rem;
    height: auto;
  }
  #icons-sidebar{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  #icons-sidebar li{
    gap: 1rem;
    display: flex;
    align-items: center;
    transition: all 100ms ease-in;
    cursor: pointer;
    width: 90%;
  }

  #icons-sidebar li:hover {
    background: var(--secondaryColor);
    width: 90%;
    padding-left: 2rem;
    border-radius: 10px;
    color: var(--textSecondary);
  }
  
  .sidebar-icon{
    width: 4rem;
}



  #arrow-collapse{
    position: absolute;
    left: 20vw;
    top: 2rem;
    cursor: pointer;
    transition: 300ms all ease-in-out;
  }

/* Seção principal */



#nav-header{
  width: 75vw;
  margin-left: 25vw;
  color: var(--textPrimary);
  transition: all 300ms ease-in-out;
}



#nav-header ul li{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 1rem 2rem 1rem 2rem;
  transition: all 300ms ease-in-out;

}

#nav-header ul{
  display: flex;
  justify-content: space-between;

}

#inbox{
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  max-width: 370px;
}

#inbox img{
  width: 6.5rem;
}

#settings{
  display: flex;
  flex-direction: column;
}

.container-config{
  background-color: var(--textPrimary);
  color: var(--textSecondary);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.mouseenter{
  visibility: hidden;
}


#settings img{
  width: 5rem;
  cursor: pointer;
}
.data{
  margin-top:-4rem;
  color: var(--date);
  font-style: italic;
}

main{
  width: 75vw;
  margin-left: calc(25vw + 2rem);
}

#Add-task-input{
  width: 70vw;
  background-color: var(--secondaryColor);
  padding: 2rem;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  color: white;
}



#Add-task-input::placeholder{
  color: var(--placeholderTask);
  font-size: 2rem;
  
}

.tasks-ul{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--textSecondary);
}

.tasks-ul li{
  padding: 1.5rem;
  width: 70vw;
  border-radius: 10px;
  background-color: var(--secondaryColor);
  display: flex;
  align-items: center;
  gap: 2rem;
}


.tasks-ul li input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  /* background-color:red; */
  border: 2px solid var(--backgroundColor);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

label{
  font-size: 2rem;
}

.tasks-ul input[type="checkbox"]::after{
  font-family: "Font Awesome 5 free";
  color: var(--textSecondary);
  font-weight: 900;
  font-size: 3rem;
  content: "\f00c";
  display: none;
}

.tasks-ul input[type="checkbox"]:hover{
  background-color: var(--placeholderTask);
}

.tasks-ul input[type="checkbox"]:checked{
  background-color: #5bcd3e;
}

.tasks-ul input[type="checkbox"]:checked::after{
  display: block;
}

.tasks-ul input[type="checkbox"]:checked label{
  text-decoration: line-through;
}

.delete-task {
  background-color: transparent;
  border: none;
  color: #ccc;
  cursor: pointer;
  font-size: 3.5em;
  padding: 0;
  transition: color 0.3s ease;
}

